<!DOCTYPE html>
<html>
<head>
  <title>HE Test</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class='container mt-5'>
  <h3 class='font-weight-bold text-center'>Hotel Engine Tech Challenge</h3>
  <p class='text-center my-5'>
    Thank you for visiting this tech challenge.
  </p>
  <p class='text-center'>The relevant information about how to use the API can be
    found in the project's GitHub <a href='https://github.com/mikeyduece/he_test'>repository</a></p>
</div>
</body>
</html>